<form class="example-form" autocomplete="off">

  <ng-container *ngIf="cinemas; else loading">

    <mat-form-field class="example-full-width  search-field">
      <input matInput placeholder="Cinema" aria-label="Cinema" [formControl]="cinemaCtrl" >

    </mat-form-field>
		<div class="wrapper">
			<app-cinema-view class="box"
											 *ngFor="let cinema of filterCinema$ | async;trackBy: cinema?.cinemaNumber"
											 (click)="goTo(cinema)"

											 [cinema]="cinema"
			></app-cinema-view>
		</div>
  </ng-container>


</form>
<ng-template #loading>
  loading
</ng-template>
