@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 10px;
	overflow-x: hidden;

}

.example-form {
	width: 100%;
	box-sizing: border-box;
}

.example-full-width {
	width: 100%;
	overflow-x: hidden;

}

.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.box {
	font-size: calc(2vw + 2vh);
}

.box:hover {
	box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
	transform: translate3d(0, 0, 0);
	transition: background .2s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}
.search-field{
	padding: 20px;
}
