<form class="example-form" autocomplete="off">


	<mat-form-field class="example-full-width search-field">
		<input matInput placeholder="Cinema" aria-label="Cinema" [formControl]="cinemaCtrl">
	</mat-form-field>


	<app-cinema-shows-list [cinemaShows]="filterShow$ |async">
	</app-cinema-shows-list>
</form>
<ng-template #loading>
	loading
</ng-template>
